<!DOCTYPE html>
<html>
  <head>
    <title>Omnicalc 2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/icon.png">

    <!-- The official Pico CSS stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.css">

    <!-- The official Bootstrap utilities stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/twbs/bootstrap@main/dist/css/bootstrap-utilities.css">

    <!-- Our modifications to default Pico CSS styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/firstdraft/pico.firstdraft.css@latest/pico.firstdraft.css">
  </head>

  <body class="pico">
    <header>
      <div class="container py-2">
        <nav>
          <div>
            <a href="/">
              <strong>Calculators</strong>
            </a>
          </div>
          <div>
            <a href="/add">
              Add
            </a>
          </div>
          <div>
            <a href="/subtract">
              Subtract
            </a>
          </div>
          <div>
            <a href="/multiply">
              Multiply
            </a>
          </div>
          <div>
            <a href="/divide">
              Divide
            </a>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
